# Hey if you are reading this(probably kevin), ask matias for this keys and create your own .env file inside the repo folder
NEXT_PUBLIC_SUPABASE_ANON_KEY= hii
NEXT_PUBLIC_SUPABASE_URL = hi but x2
ALLOWED_EMAIL= hi again but x3